#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b887a6;
    position: fixed;
    width: 100%;
}

#opc {
    float: left;
}

#men {
    display: block;
    color: white;
    text-align: right;
    padding: 20px;
    text-decoration: none;
    font-family: verdana;
    font-size: 90%;
}

#men:hover {
    background-color: #a5678d;
}

#slogan {
    color: #676767;
    font-family: verdana;
    text-align: center;
    font-size: 125%;
}

h2 {
    color: #a5678d;
    font-family: verdana;
    margin-bottom: 10px;
}

#formprod {
    font-family: verdana;
    color: #676767;
}

input[type=text] {
    width: 300px;
    height: 15px;
    font-family: verdana;
    font-size: 100%;
    color: #727272;
    margin-left: 1%;
    margin-top: 1%;
}

#enviar {
    width: 90px;
    height: 40px;
    font-family: verdana;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: #a5678d;
}

#bot {
    color: white;
    font-family: verdana;
    font-size: 85%; 
    text-decoration: none;

}

.rod {
    list-style-type: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #676767;
    text-align: left;
  }